.SectionMovies{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}

.cardMovies{
    

    // background-color: rgb(68, 10, 10);
}
.cardInfos{
 

    background-color: rgb(71, 204, 160);
}

.container{
   }